.button
    width: 153px
    height: 32px
    text-transform: uppercase
    color: #fff
    font-size: 12px
    font-weight: 500
    background-color: $main-color
    border: none
    border-radius: 5px

    &_main
        margin-top: 60px
        width: 303px
        height: 54px
        font-size: 16px

        &_mt0
            margin-top: 0
