@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('MuseoSansCyrl500'),
        url('../fonts/MuseoSansCyrl500/MuseoSansCyrl500.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('MuseoSansCyrl300'),
        url('../fonts/MuseoSansCyrl300/MuseoSansCyrl300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('MuseoSansCyrl700'),
        url('../fonts/MuseoSansCyrl700/MuseoSansCyrl700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('MuseoSansCyrl900'),
        url('../fonts/MuseoSansCyrl900/MuseoSansCyrl900.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
